doctype html
html
  head
    title= title
    //- anything you want the browser to link to is inside /public 	
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')        
    link(rel='stylesheet', href='/stylesheets/bootstrap-theme.min.css')
  body
    block content
    block scripts