extends layout

block content
  div(class="red-bg")
  div(class = "container-fluid" id='reunion-container')
    div(class='row margin-top-3')
    div(class='col-xs-12 col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3 padding-0')
      div(class='col-xs-6 padding-0')
        h2(class="text-left ariport-symbol") #{from_airport}
        p(class="text-left time-stamp" id='depart-time-display')
      div(class='col-xs-6 padding-0')      
        h2(class="text-right ariport-symbol") #{dest_airport}
        p(class="text-right time-stamp" id='arrive-time-display')
    div(class='row')
      div(class='col-xs-12 col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3')
        div(class='progress')
          //- js will set the width here based on how long the flight traveled
          div(class='progress-bar left' style='' aria-valuenow="" aria-valuemin="0" aria-valuemax="100" id='flight-progress-bar' role='progressbar')
            span(class='sr-only')
    div(class='row')
      div(class='col-xs-12 col-xs-offset-0 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4 text-center')
        div(class='square margin-top-2')
          div(class='hug-icon-stroke')
            img(class = 'img-responsive' src='/images/hug-icon-stroke.svg')
          div(class='hug-icon-fill' style='height:50%;')
            img(class = 'img-responsive' src='/images/hug-icon-fill.svg')
          div(class='time-center y-center')
            h2(class = "timer" id='time-to-arrival')    
            p(class="hug" id='remaining-time-text-area') <span id='remaining-time-unit-label'>Minutes</span> Till Hug Time
  div(class="container-fluid" style="display:none;" id='reunion-container-error')      
    div(class="row margin-top-3")
    div(class='col-xs-12 col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3 padding-0')
      h2(class="text-left ariport-symbol") We could not find that flight!
      button(class='btn outline margin-top-2 margin-bottom-3' id='error-go-back') Go Back
block scripts
  //-jqeury has to be first
  script(src='/js/jquery-2.1.3.min.js')
  script(src='/js/bootstrap.min.js')
  script(src='/js/handlebars-v2.0.0.js')
  script(src='/js/typeahead.bundle.js')
  script(src='/js/moment.js')
  script(type='text/javascript').
    var depart_time = "!{depart_time}",
        arrive_time = "!{arrive_time}";    
  script(src='/js/reunion.js')
  script(src='/js/ga.js')  
